@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'oxygen';
  src: url('./mainFont/Oxygen/Oxygen-Regular.ttf');
}

@font-face {
  font-family: 'Baskerville';
  src: url('./mainFont/Libre_Baskerville/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'BaskervilleI';
  src: url('./mainFont/Libre_Baskerville/LibreBaskerville-Italic.ttf');
}

@font-face {
  font-family: 'BaskervilleB';
  src: url('./mainFont/Libre_Baskerville/LibreBaskerville-Bold.ttf');
}

$baskerville: 'Baskerville',
sans-serif;
$baskerItalic: 'BaskervilleI',
sans-serif;
$baskerBold:'BaskervilleB',
sans-serif;
$oxygen: 'oxygen',
sans-serif;
$primary-bg : #EFEEE8;
$primary-font-color : #333;
$baskerville-color : #efeee8;
$bg-color: #e4e2d3;

.primary-bg{
  background-color: $primary-bg;
}
.bg-color-beige{
  background-color: #e4e2d3;
}
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html,
body {
  background-color: $primary-bg;
  box-sizing: border-box;
  font-family: $oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: $baskerville;
}

.arrow{

  width: 51px;
  margin-right: 1.2rem;

}
.navigation {
  a {
    font-family: $baskerville;
    font-weight: 400;
  }
}
.navigation-mobile-on{
  background-color: #e4e2d3;
  position: absolute;
  display: block;
  top:0;
  left:0;
  right: 0;
  width: 100%;
  transform: translateY(0px) translateX(0px);
  transition: transform 400ms ease 0s;
  li{
    a{
      font-size: 1rem;
      color: #222222;
      line-height: 1.25rem;
        color: #222222;
        text-align: left;
        white-space: nowrap;
    }
  }
}

.__name-box {
  max-width: 344px;
  max-height: 162px;
}

.__name {
  font-family: $baskerville;
}

#CTA {
  width: 14.75rem;
  height: 4rem;
  background-color: $primary-font-color;


  .__btn-text-1 {
    color: $baskerville-color;
    font-size: 1.125rem;
  }

  .--arrow-down {
    margin-left: auto;
  }

  .--arrow-up {
    margin-left: auto;
  }

}

#hero {
  h1+p {
    color: $primary-font-color;
  }

  article {
    max-width: 595px;
  }


  .__image {
    display: block;
    max-width: 644px;
    max-height: 773px;

    &>.__image-img {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

#__goals {
  position: relative;
  text-align: center;

  h1,
  p {
    font-weight: 400;
  }

  & p:first-of-type {
    font-family: $oxygen;
    font-size: 1rem;
    line-height: 1.65rem;
  }

  h1 {
    font-size: 1.75rem;
    font-family: $baskerville;
    line-height: 2.26rem;
  }

  h1,
  h2,
  p {
    color: $primary-font-color;
  }

  .__goals-box {
    max-width: 350px;
    height: auto;

    h2 {
      font-family: $baskerBold;
      font-size: 1.375rem;
      Line-height: 23px;
      font-weight: 600;

    }

    p {
      font-size: 1rem;
      Line-height: 26px;
      Line-height: 165%;
    }
  }

  .__cirkelBox {
    width: 72px;
    height: 72px;
    border-radius: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #A2A1A0;
    background-color: #efeee8;
    z-index: 1;
  }

  .__cirkelBox-cirkel {
    position: absolute;
    font-family: $baskerville;
    font-size: 2rem;
    font-weight: 100;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#truth{
  .truth_article{
    padding: 1rem;
  }
  h3{
    font-family: $baskerville;
    font-style: normal;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: $primary-font-color;
    padding: 1rem 0;
    margin-top: 3rem
  }
  .truth_article_2{
    font-family: $oxygen;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: rgba(51, 51, 51, 0.9);
    padding: 1.5rem 0;
    
  }
  h4{
    font-family: $oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.437rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-font-color;
    padding: 1rem 0;
  }
  .truth_p{
    font-family: $oxygen;
    font-size: 1rem;
    line-height: 1.65rem;
    color: $primary-font-color;
    font-weight: 400;
    position: relative;
    padding: 1rem 0;
  }
  p.truth_p::after{
    content: '';
    position: absolute;
    height: 1.5px;
    bottom: -4px; 
    margin:  auto 0;
		left: 0;
    right: 0;
    background-color: $primary-font-color;
  }
}
.truth-qoute{
  background-color: $bg-color;
  width: 100%;
  p{
    font-family: $baskerville;
    font-size: 1.75rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.68rem;
    color: #333;
  }
  span{
    line-height: 1.625rem;
    font-size: 1rem;
    color: rgba(51, 51, 51, 0.8);
    
  }
  .sun{
    margin-left: auto;
  }
  .qoute{
    max-width: 84.5rem;
  }
}

#Todo{
  h1{
    font-family: $baskerBold;
    font-style: normal;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: $primary-font-color;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin: auto;
    max-width: 334px;
    text-align: center;
  }

  p{
    font-family: $oxygen;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: rgba(51, 51, 51, 0.9);
    text-align: center;
    max-width: 343px;
    margin-left: auto;
    margin-right: auto;
  }
  .__Todo_btn-box{
    background-color: $bg-color;
    max-width: 343px;
    height: 56px;
    border-radius: 50px;
    margin: 1.5rem auto; 
  }
  .__Todo-btn{
    width: 110px;
    height: 44px;
    font-family: 'Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 165%;
  }
  .__Todo-btn-clicked{
    background-color: #222222;
    border-radius: 70px;
    color: $baskerville-color;
  }
  .__Todo_article{
    text-align: center;
    h2{
      font-family: $baskerville;
      font-size: 1.375rem;
      color: #333;
      font-weight: 600;
      line-height: 23px;
    }
    p{
      font-family: $oxygen;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 26px;
    }
    blockquote{
      font-family: $baskerville;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      max-width: 331px;
      margin: 1rem auto;
    }
    address{
      font-family: $baskerville;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 105%;
    }
    max-width: 343px;
    height: 450px;
    background-color: $bg-color;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
  }
  .__Todo_article-hide{
    display: none;
  }
  .__Todo_article-qoute{
    
    .__Todo_article-qoute-qoute{
      position: relative;
      z-index: 9;
      background-color: #e4e2d3;
    }
    .__Todo_article-qoute-line{
      position: absolute;
      bottom: 50%;
      top: 50%;
    }
    
  }
}

#Testimonials{
  overflow: hidden;
  
  h1{
    font-family: $baskerBold;
    font-size: 1.75rem;
    font-weight: 700;
    font-style: normal;
    line-height: 2.25rem;
    text-align: center;
    color:$primary-font-color;
  }
  button{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .__Testimonial_card-box{
   padding: .5rem;
  }
  .__Testimonial_card{
    background-color: $bg-color;
    max-width: 429px;
    padding: .5rem;
    // height: 318px;
  }
  .__Testimonial-qoute{
    display: none;
  }
  .__Testimonial_card-img{
    clip-path: circle(50% at 50% 50%);
    margin-left: 1rem;
   
    width: 64px;
    height: 64px;
  }
  address{
    font-family: $baskerBold;
    font-weight: 600;
    font-size:1.25rem ;
    line-height: 1.3rem;
    font-style: normal;
    padding-right: 1rem;
  }
  p{
    font-family: $oxygen;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-left: auto;
    margin-right: auto;
  }
  span{
    display: block;
    border: 1px solid rgba(51, 51, 51, 0.2);
    margin: 1rem 0;
  }
}
#Whattodo{
  h1{
    font-family: $baskerBold;
    font-size: 1.75rem;
    font-weight: 700;
    font-style: normal;
    line-height: 2.25rem;
    text-align: left;
    color:$primary-font-color;
  }
  p{
      font-family: $oxygen;
      font-style: normal;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.625rem;
      color: rgba(51, 51, 51, 0.9);
      text-align: left;
      margin: 2rem auto;
  }

  thead{
    th{
      font-family: $baskerville;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 0.93rem ;
      text-align: left;
      padding-left: .5rem;
      padding-right: .5rem;
    }
    
  }
  tr{
    max-width: 343px;
    height: 72px;
  }
  td{
    font-family: 'Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 105%;
    text-align: left;
    padding-left: 1rem;
    img{
      margin-right: auto;
      margin-left: auto;
    }
  }
}
#qa{
  background-color: $bg-color;
  #qaBtn{
  border: 1px solid #333333;
  margin: 0 1rem;
  max-width: 425px;
  height: 67px;
.__qaBtn_question-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 24px;
  h2{
    font-family: $baskerBold;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.19rem;
  }
  img{
    
  }
}
.__qaBtn_answer-box{
  display: none;
}
.__qaBtn_answer-box-show{
  display: block;
}
}

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  #truth{
    h3{
      margin-top: -1rem;
    }
    article{
      display: flex;
      width: 100%;
    }
  }
  .truth_article-img{
    width: 50%;
    position: absolute;
  }
  .truth_article{
    width: 50%;
    margin-left: auto;
   
  }
  .truth-qoute{
    z-index: 9;
    p{
      font-size: 5rem;
      font-family: $baskerville;
      font-weight: 400;
      font-style: normal;
      line-height: 4.875rem;
    }
    span{
      font-size: 1.375rem;
      line-height: 2.25rem;
      font-weight: 400;
      font-style: normal;
    }
    bottom: -54rem;
  }
  #Todo{
    h1{
      max-width: unset;
      font-size: 2.75rem;
      line-height: 2.875rem;
      font-weight: 400;
    }

    p{
      font-size: 1.375rem;
      max-width: 44.8125rem;
    }
    .__Todo_btn-box{
      max-width: 37.25rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
    .__Todo-btn{
      width: 184px ;
      font-size: 1.125rem;
    }
    .__Todo_article{
      .__Todo_box{
        max-width: 556px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        min-width: 400px;
        
        
      }
      blockquote{
        font-family: $baskerville;
        font-size: 1.75rem;
        max-width: 556px;
        line-height: 29.4px;
        font-weight: 200;
        font-style:'';
        }
        .__Todo-border{
          border: 4rem solid $primary-font-color;
          background-image: url('/public/filter.png') ;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      margin: 5rem;
        padding: 1rem;
      max-width: 1352px;
      height: auto;
      h2{
        font-size: 2rem;
      }
      p{
        font-size: 1.125rem;
      }
    }
  }
}

//
@media (min-width: 1024px) {
  .navigation {
    .arrow {
      display: flex;
      align-items: center;
      padding-left: 1rem;

      a {
        font-family: oxygen, sans-serif;
      }
    }
    .arrow-cta {
      margin-left: 3rem;

      .__arrowUp {
        // transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        width: 1rem;
        border: .5px solid #333;
        position: absolute;
        right: 22px;
        top: 40px;
        transform: translate3d(3px, -6px, 0px) rotateX(45deg) rotateY(45deg)rotateZ(35deg);
      }

      .__arrowMiddle {
        position: absolute;
        width: 2.375rem;
        border: .5px solid $primary-font-color;
      }

      .__arrowDown {
        // display: hidden;
        position: absolute;
        width: 1rem;
        border: .5px solid #333;
        right: 22px;
        top: 40px;
        transform: translate3d(2px, 6px, 0px) rotateX(45deg) rotateY(145deg) rotateZ(30deg);
      }
    }
    width: 604px;
    justify-content: flex-start;
    margin-right: 100px;
    ul {
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      .line {
        height: 100%;
        border: 0.5px solid;
        border-color: #333;
      }

      li {
        padding-right: 2rem;

        img {
          width: 2.4rem;
        }
      }
    }
  }
  #hero {
    article {
      margin-top: 20rem;
    }

    .__name-box {
      top: 13rem;
      left: 25%;

      img {
        padding-left: 13rem;
        padding-top: 2rem;
      }

      .__name {
        display: block;
        transform: rotate(7.05deg);
        font-family: $baskerville;
        font-size: 2rem;
        font-weight: 400;
        line-height: 32px;
        color: $primary-font-color;
      }
    }

    h1 {
      font-family: $baskerville;
      font-size: 4rem;
      font-weight: 600;
      line-height: 115%;
      letter-spacing: 0em;
      text-align: left;
      color: $primary-font-color;
    }

    p {
      font-family: Oxygen, sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 165%;
      letter-spacing: 0em;
      text-align: left;
    }


  }
  #CTA {
    .__btn-text-1 {
      font-family: Oxygen;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  #__goals {
    position: relative;
    padding: 4.5rem;

    h1 {
      font-size: 2.75rem;
      line-height: 2.9rem;
    }

    p:first-of-type {
      font-size: 1.375rem;
      line-height: 2.26rem;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.125rem;
    }

    .__cirkelBox-cirkel-lineprogress {
      position: absolute;
      left: 0%;
      top: 52%;
      right: 0%;
      bottom: auto;
      z-index: 0;
      width: 65%;
      height: 1px;
      margin-right: auto;
      margin-left: auto;
      border: 1px solid #a1a19f;
    }
  }

  #truth{
    article{
      display: flex;
      width: 100%;
    }
    h3{
      margin-top: unset;
    }
    .truth_article-img{
      width: auto;
      position: absolute;
      z-index: -1;
    }
    .truth_article{
      width: 561px;
      margin-left: auto;
    }
    
  }
  .truth-qoute{
    p{
      font-size: 5rem;
      font-family: $baskerville;
      font-weight: 400;
      font-style: normal;
      line-height: 4.875rem;
    }
    span{
      font-size: 1.375rem;
      line-height: 2.25rem;
      font-weight: 400;
      font-style: normal;
    }
    bottom: -40rem;
    z-index: 9;
  }
  #Todo{
    h1{
      max-width: unset;
      font-size: 2.75rem;
      line-height: 2.875rem;
      font-weight: 400;
    }

    p{
      font-size: 1.375rem;
      max-width: 44.8125rem;
    }
    .__Todo_btn-box{
      max-width: 37.25rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
    .__Todo-btn{
      width: 184px ;
      font-size: 1.125rem;
    }
    .__Todo_article{
      .__Todo_box{
        max-width: 556px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        
      }
      blockquote{
        font-family: $baskerville;
        font-size: 1.75rem;
        max-width: 556px;
        line-height: 29.4px;
        font-weight: 200;
        font-style:'';
        }
        .__Todo-border{
          border: 4rem solid $primary-font-color;
        }
      padding: unset;  
      max-width: 1352px;
      height: auto;
      h2{
        font-size: 2rem;
      }
      p{
        font-size: 1.125rem;
      }
    }
  }
  #Testimonials{
    .__Testimonial-qoute{
      display: block;
     
      p{
        text-align:  right;
        padding-right: 1rem;
      font-size: 5rem;
      font-family: "Baskerville", sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: 4.875rem;
      }
      .__Testimonial-qoute-author{
        padding: 2rem 1rem;
        float: right;
        font-size: 1.375rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: normal;
      }
    }
  }
  #Whattodo{
    display: flex;
    justify-content: space-between;
    article{
      max-width: 543px;
      padding: 0 3rem;
    }
    margin-top: 10rem;
    table{
      thead{
        th{
          font-size: 1.125rem
        }
      }
      tbody{
        td{
          font-size: 1.125rem 
        }
      }
     width: 48.4rem;
      margin: 0;
      tr{
        width: auto;
      }
    }
  }
}
//
@media (min-width: 1440px) {}
//
@media (min-width: 2560px) {
  #hero {
    .__name-box {
      left: 30%;
    }
  }
  .truth_article{
    width: 561px;
    margin-left: 2rem;
  }
  .truth-qoute{
    .qoute{
      max-width: unset;
    }
  }
  

}