.Brand{
  max-width: 81px;
}
.Menu{
  width: 2.5rem;
  margin:1rem;
}


//truth-components



@media screen and (max-width: 479px) {

  
}
@media screen and (max-width: 991px){}

@media screen and (max-width: 1280px){
  
}
