$primary-font-color: #333;
$primary-bg: #efeee8;
$oxygen: "oxygen", sans-serif;
.services__hero {
    h1 {
        line-height: 106%;
    }
    h2 {
        line-height: 165%;
    }
}
.btn__services-transparent {
    background-color: transparent;

}
.btn__text-black {
    color: $primary-font-color;
}
.btn__text-white {
    color: $primary-bg;
}
.btn__services-dark {
    background-color: $primary-font-color;

}
.bg__arrow-white {
    background-color: $primary-bg;
}
.bg__arrow-black {
    background-color: $primary-font-color;
}
.bg__black{
    background-color: #333;
}
// list
.services__list{
     margin-bottom: 1rem;
     li{
          position: relative;
          font-family: $oxygen;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.625;
          margin: 1rem 0;
          padding-bottom: 1rem;
          &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $primary-font-color;
          }
     }
}

@media (min-width: 1280px){
    .second__category{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    
}
}